{% extends 'user/base.html' %}

{% block title %}
Registration
{% endblock title %}

{% block content %}

<div class="max-w-xs" style="margin-top: 10%;margin-left: 40%; max-height: 100vh;">

    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 my-4">
        <div>
            <h1 class="text-2xl text-center">Registration form</h1>
        </div>
        <form method="POST" class="my-4">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Username
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="username" id="username" type="text" placeholder="Remember you're unique!" required>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    name="password" id="password" type="password" placeholder="**************" required>

                {% if form.errors %}
                {% for key, value in form.errors.items %}
                <div class="px-2 py-2 bg-pink-400 rounded-md">
                    <i class="text-xs italic my-2">{{value}}</i>
                </div>
                {% endfor %}
                {% endif %}

            </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 ... text-white font-bold py-2 w-full rounded focus:outline-none focus:shadow-outline"
                    type="submit" style="text-align: center;">
                    Sign Up
                </button>
            </div>

        </form>
        <div class="my-4 text-center">
            <i class="text-sm">Already registered? <a class="text-purple-700 text-base" href="{%url 'login'%}">
                    LOG IN</a> here</i>
        </div>
    </div>
</div>
{% endblock%}